<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web_Cafe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <link rel="stylesheet" href="../assets/css/base.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/Grid.css">
    <link rel="stylesheet" href="../assets/css/respontive.css">
    <link rel="stylesheet" href="../assets/font/fontawesome-free-6.1.2-web/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="app">
        <div class="header">
            <div class="header-top-backroundcolor">
                <div class="grid wide"> 
                    <div class="header-top cl-white">
                        <div class="header-top_contact">
                            <i class="header-top_icon fa-solid fa-phone-volume"></i>
                            <div class="header-top_text">
                                <span class="header-top_title">Hotline:</span>
                                <a href="#" class="header-top_link decoration cl-white">1900 6750</a>
                            </div>
                        </div>
    
                        <ul class="header-top_list">
                            <li class="header-top_item">
                                <i class="header-top_icon fa-solid fa-magnifying-glass"></i>
                                <span class="header-top_lable">Tìm kiếm</span>
                            </li>
                            <li class="header-top_item header-top_hoversub">
                                <i class="header-top_icon fa-solid fa-user"></i>
                                <a href="#" class="header-top_lable decoration cl-white">Tài khoản</a>
                                <ul class="header-top_subform style">
                                    <li class="header-top_subitem">
                                        <a href="#" class="header-top_sublink decoration cl-base">Đăng nhập</a>
                                    </li>
                                    <li class="header-top_subitem">
                                        <a href="#" class="header-top_sublink decoration cl-base">Đăng ký</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="header-top_item header-top_hoversub">
                                <div class="header-top_formnumber">
                                    <i class="header-top_icon  fa-solid fa-cart-shopping"></i>
                                    <div class="header-top_number">
                                        1
                                    </div>
                                </div>
                                <a href="#" class="header-top_lable decoration cl-white">Giỏ hàng</a>
                                <ul class="header-top_subform style">
                                    <li class="header-top_subitem">
                                        <a href="#" class="header-top_sublink decoration cl-base">Đăng nhập</a>
                                    </li>
                                    <li class="header-top_subitem">
                                        <a href="#" class="header-top_sublink decoration cl-base">Đăng ký</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="grid wide"> 
                <div class="header-bottom">
                    <ul class="header-bottom_list style">
                        <li class="header-bottom_item">
                            <a href="../index.html" class="header-bottom_link decoration">
                                Trang chủ
                            </a>
                        </li>
                        <li class="header-bottom_item">
                            <a href="./Introduce.html" class="header-bottom_link decoration">
                                Giới thiệu
                            </a>
                        </li>
                        <li class="header-bottom_item  header-bottom_hoversub">
                            <a href="./Product.html" class="header-bottom_link decoration">
                                Sản phẩm
                            </a>
                            <ul class="header-bottom_subform style">
                                <li class="header-bottom_subitem">
                                    <a href="#" class="header-bottom_sublink decoration cl-base">Cafe</a>
                                </li>
                                <li class="header-bottom_subitem">
                                    <a href="#" class="header-bottom_sublink decoration cl-base">Bánh ngọt</a>
                                </li>
                                <li class="header-bottom_subitem">
                                    <a href="#" class="header-bottom_sublink decoration cl-base">Smoothies</a>
                                </li>
                                <li class="header-bottom_subitem">
                                    <a href="#" class="header-bottom_sublink decoration cl-base">Trà hoa quả</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
    
                    <div class="header-bottom_picture">
                        <a href="../index.html">
                            <img src="../assets/img/logo.png" alt="" class="header-bottom_logo">
                        </a>
                    </div>
    
                    <ul class="header-bottom_list style">
                        <li class="header-bottom_item">
                            <a href="./News.html" class="header-bottom_link decoration">
                                Tin tức
                            </a>
                        </li>
                        <li class="header-bottom_item">
                            <a href="./Menu.html" class="header-bottom_link decoration">
                                Thực đơn
                            </a>
                        </li>
                        <li class="header-bottom_item">
                            <a href="./Contact.html" class="header-bottom_link decoration">
                                Liên hệ
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
        <div class="header-mobile">
            <div class="header-mobile_navbar">
                <i class="header-modbile_icon fa-solid fa-bars"></i>
                <div class="header-modbile_logo" style="background-image: url(./assets/img/logo.png);"></div>
                <a href="#" class="header-mobile_basket">
                    <i class="header-modbile_icon fa-solid fa-cart-shopping"></i>
                </a>
            </div>
            <div class="header-mobile_form">
                <div class="header-mobile_formsearch">
                    <input type="text" placeholder="Tim sản phẩm bạn mong muốn..." class="header-mobile_search">
                </div>
                <a href="#" class="header-mobile_link decoration">
                    <i class="header-mobile_icon cl-base fa-solid fa-magnifying-glass"></i>
                </a>
            </div>
        </div>

        <div class="form-navbar">
            <div class="grid wide">
                <div class="header-navbar">
                    <div class="header-navbar">
                        <a href="../index.html" class="decoration header-navbar_home">Trang chủ</a>
                    </div>
                    <div class="header-navbar">
                        /
                    </div>
                    <div class="header-navbar">
                        <a href="./Introduce.html" class="decoration header-navbar_now cl-base">Giới thiệu</a>
                    </div>
                </div>
            </div>

            <div class="grid wide">
                <div class="body-introduce">
                    <p class="body-introduce_desc">
                        Tea House hiện là chuỗi cửa hàng đồ uống lớn nhất tại Việt Nam. Những sản phẩm từ Tea House đang như một cơn bão rất nhanh chóng lan rộng ra xung quanh những nước Châu Á. Đi đến đâu sản phẩm của Tea House cũng nhận được sự yêu quý của khách hàng các nước. Đây cũng là loại trà có hương vị khác biệt nhất, đủ tiêu chuẩn và là thương hiệu đồ uống duy nhất để đưa vào giới thiệu tại Shanghai World Expo 2010. 
                    </p>
                    <p class="body-introduce_desc">
                        Tea House hiện tại đã có chi nhánh cửa hàng tại Đài Loan, Nhật Bản, Trung Quốc, Hồng Kong, Indonesia, Malaisia, Singapor, Việt Nam, Myanma, Brunei, v.v..
                    </p>
                    <p class="body-introduce_desc">
                        Trong suốt quá trình phát triển của mình Tea Houseluôn tập trung vào việc kết hợp và tạo ra những sản phẩm chất lượng cao nhất và phải tạo được sự khác biệt so với những sản phẩm cùng loại trên thị trường. Để làm được điều này, chỉ số chất lượng của tất cả các nguyên liệu và các thành phần được sử dụng trong các sản phẩm của Tea House không chỉ vượt qua được chứng nhận SGS Đài Loan mà họ cũng đã vượt qua 231 bài thử nghiệm chất lượng của SGS Nhật Bản về việc cấp phép nhập khẩu. Dingtea hoàn toàn không sử dụng hương liệu phụ gia để bảo quản. Ngoài tính đặc trưng hơn so với các sản phẩm khác, Sản phẩm của Tea House còn thể hiện văn hóa trà chuyên nghiệp, tinh tế và độc đáo của người Đài Loan.
                    </p>
                    <p class="body-introduce_desc">
                        Để luôn có được loại trà tốt nhất, Tea House đã ký hợp đồng với những nông dân ở vùng cao. Chăm sóc tại những vườn chè với nhiệt độ thấp và có độ cao lên đến 1000m, cùng với việc lựa chọn tỉ mỉ một đầu-hai-lá, trà đã pha không chỉ toả ra một hương vị ngọt ngào mà còn có mùi thơm đặc biệt. Phần lớn các loại trà trên thị trường đều có xuất xứ từ Trung Quốc, hương thơm được tăng lên thông qua việc sử dụng các phụ gia, trong khi vị đắng và vị ngọt được điều chỉnh thông qua các chất làm ngọt, do đó chất lượng có sự khác biệt đáng kể so với sản phẩm của Tea House.
                    </p>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="bg_footer" style="background-image: url(../assets/img/bg_footer.webp);">
                <footer>
                    <div class="grid wide">
                        <div class="footer-box">
                            <ul class="row footer-box_list style">
                                <li class="col l-4 m-12 footer-box_item style">
                                    <a href="#" class="footer-box_link">
                                        <img class="footer-logo" src="../assets/img/87f2699ec5f8deaf13aed5fbe0bebd0ea1ca1a87.webp" alt="">
                                    </a>
                                    <p class="footer-box_desc">
                                        Chúng tôi mong muốn cafe Bermada sẽ trở thành “Tiệm cafe", nơi mọi người xích lại gần nhau và tìm thấy niềm vui, sự sẻ chia thân tình bên những tách cà phê đượm hương, chất lượng.
                                    </p>
                                    <ul class="footer-subbox_list style">
                                        <li class="footer-subbox_item">
                                            <a href="#" class="decoration">
                                                <i class="footer-subbox_icon fa-brands fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="footer-subbox_item">
                                            <a href="#" class="decoration">
                                                <i class="footer-subbox_icon fa-brands fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li class="footer-subbox_item">
                                            <a href="#" class="decoration">
                                                <i class="footer-subbox_icon fa-brands fa-pinterest"></i>
                                            </a>
                                        </li>
                                        <li class="footer-subbox_item">
                                            <a href="#" class="decoration">
                                                <i class="footer-subbox_icon fa-brands fa-google"></i>
                                            </a>
                                        </li>
                                        <li class="footer-subbox_item">
                                            <a href="#" class="decoration">
                                                <i class="footer-subbox_icon fa-brands fa-youtube"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="col l-4 m-12 footer-box_item style">
                                    <h3 class="footer-box_header">
                                        LIÊN HỆ VỚI CHÚNG TÔI
                                    </h3>
                                    <ul class="footer-subbox_contacts style">
                                        <li class="footer-subbox_contact">
                                            <i class="footer-subbox_icon-contact fa-sharp fa-solid fa-location-dot"></i>
                                            <p class="footer-box_desc ml-2">
                                                Đừng bỏ lỡ những sản phẩm và chương trình khuyến mãi hấp dẫn
                                            </p>
                                        </li>
                                        <li class="footer-subbox_contact">
                                            <i class="footer-subbox_icon-contact fa-solid fa-phone"></i>
                                            <div class="footer-subbox_formcontact">
                                                <p class="footer-box_phone ml-2">
                                                    Hotline đặt bàn: 1900 6750
                                                </p>
                                                <p class="footer-box_phone ml-2">
                                                    Hotline giao hàng: 1900 6750
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="col l-4 m-12 footer-box_item style">
                                    <h3 class="footer-box_header">
                                        ĐĂNG KÝ NHẬN KHUYẾN MÃI
                                    </h3>
                                    <p class="footer-box_desc">
                                        Đừng bỏ lỡ những sản phẩm và chương trình khuyến mãi hấp dẫn
                                    </p>
                                    <div class="footer-box_form style">
                                        <input class="footer-box_input" type="text" placeholder="Email của bạn">
                                        <a href="#" class="decoration cl-white footer-box_btn">
                                            Đăng ký
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

    </div>

</body>
</html>