<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web_Cafe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <link rel="stylesheet" href="../assets/css/base.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/Grid.css">
    <link rel="stylesheet" href="../assets/css/respontive.css">
    <link rel="stylesheet" href="../assets/font/fontawesome-free-6.1.2-web/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="app">
        <div class="header">
            <div class="header-top-backroundcolor">
                <div class="grid wide"> 
                    <div class="header-top cl-white">
                        <div class="header-top_contact">
                            <i class="header-top_icon fa-solid fa-phone-volume"></i>
                            <div class="header-top_text">
                                <span class="header-top_title">Hotline:</span>
                                <a href="#" class="header-top_link decoration cl-white">1900 6750</a>
                            </div>
                        </div>
    
                        <ul class="header-top_list">
                            <li class="header-top_item">
                                <i class="header-top_icon fa-solid fa-magnifying-glass"></i>
                                <span class="header-top_lable">Tìm kiếm</span>
                            </li>
                            <li class="header-top_item header-top_hoversub">
                                <i class="header-top_icon fa-solid fa-user"></i>
                                <a href="#" class="header-top_lable decoration cl-white">Tài khoản</a>
                                <ul class="header-top_subform style">
                                    <li class="header-top_subitem">
                                        <a href="#" class="header-top_sublink decoration cl-base">Đăng nhập</a>
                                    </li>
                                    <li class="header-top_subitem">
                                        <a href="#" class="header-top_sublink decoration cl-base">Đăng ký</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="header-top_item header-top_hoversub">
                                <div class="header-top_formnumber">
                                    <i class="header-top_icon  fa-solid fa-cart-shopping"></i>
                                    <div class="header-top_number">
                                        1
                                    </div>
                                </div>
                                <a href="#" class="header-top_lable decoration cl-white">Giỏ hàng</a>
                                <ul class="header-top_subform style">
                                    <li class="header-top_subitem">
                                        <a href="#" class="header-top_sublink decoration cl-base">Đăng nhập</a>
                                    </li>
                                    <li class="header-top_subitem">
                                        <a href="#" class="header-top_sublink decoration cl-base">Đăng ký</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="grid wide"> 
                <div class="header-bottom">
                    <ul class="header-bottom_list style">
                        <li class="header-bottom_item">
                            <a href="../index.html" class="header-bottom_link decoration">
                                Trang chủ
                            </a>
                        </li>
                        <li class="header-bottom_item">
                            <a href="./Introduce.html" class="header-bottom_link decoration">
                                Giới thiệu
                            </a>
                        </li>
                        <li class="header-bottom_item  header-bottom_hoversub">
                            <a href="./Product.html" class="header-bottom_link decoration">
                                Sản phẩm
                            </a>
                            <ul class="header-bottom_subform style">
                                <li class="header-bottom_subitem">
                                    <a href="#" class="header-bottom_sublink decoration cl-base">Cafe</a>
                                </li>
                                <li class="header-bottom_subitem">
                                    <a href="#" class="header-bottom_sublink decoration cl-base">Bánh ngọt</a>
                                </li>
                                <li class="header-bottom_subitem">
                                    <a href="#" class="header-bottom_sublink decoration cl-base">Smoothies</a>
                                </li>
                                <li class="header-bottom_subitem">
                                    <a href="#" class="header-bottom_sublink decoration cl-base">Trà hoa quả</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
    
                    <div class="header-bottom_picture">
                        <a href="../index.html">
                            <img src="../assets/img/logo.png" alt="" class="header-bottom_logo">
                        </a>
                    </div>
    
                    <ul class="header-bottom_list style">
                        <li class="header-bottom_item">
                            <a href="./News.html" class="header-bottom_link decoration">
                                Tin tức
                            </a>
                        </li>
                        <li class="header-bottom_item">
                            <a href="./Menu.html" class="header-bottom_link decoration">
                                Thực đơn
                            </a>
                        </li>
                        <li class="header-bottom_item">
                            <a href="./Contact.html" class="header-bottom_link decoration">
                                Liên hệ
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
        <div class="header-mobile">
            <div class="header-mobile_navbar">
                <i class="header-modbile_icon fa-solid fa-bars"></i>
                <div class="header-modbile_logo" style="background-image: url(../assets/img/logo.png);"></div>
                <a href="#" class="header-mobile_basket">
                    <i class="header-modbile_icon fa-solid fa-cart-shopping"></i>
                </a>
            </div>
            <div class="header-mobile_form">
                <div class="header-mobile_formsearch">
                    <input type="text" placeholder="Tim sản phẩm bạn mong muốn..." class="header-mobile_search">
                </div>
                <a href="#" class="header-mobile_link decoration">
                    <i class="header-mobile_icon cl-base fa-solid fa-magnifying-glass"></i>
                </a>
            </div>
        </div>

        <!-- News -->
        <div class="form-navbar">
            <div class="grid wide">
                <div class="header-navbar">
                    <div class="header-navbar">
                        <a href="../index.html" class="decoration header-navbar_home">Trang chủ</a>
                    </div>
                    <div class="header-navbar">
                        /
                    </div>
                    <div class="header-navbar">
                        <a href="./News.html" class="decoration header-navbar_now cl-base">Tin tức</a>
                    </div>
                </div>

                <ul class="row form-news style">
                    <li class="col l-9 form-news-outstanding">
                        <ul class="form-news-sub style row">
                            <li class="col l-6 body-news_box">
                                <a href="#" class="decoration cl-black body-news_imglink">
                                    <div class="body-news_img" style="background-image: url(../assets/img/cafe_natutive.jpg);"></div>
                                </a>
                                <a href="#" class="decoration cl-black body-news_titlelink">
                                    Nhâm nhi cà phê bao lâu nhưng bạn tận mắt nhìn kỹ xem hạt cà phê chưa?
                                </a>
                            </li>
                            <li class="col l-6 body-news_box">
                                <a href="#" class="decoration cl-black body-news_imglink">
                                    <div class="body-news_img" style="background-image: url(../assets/img/cafe_natutive.jpg);"></div>
                                </a>
                                <a href="#" class="decoration cl-black body-news_titlelink">
                                    Nhâm nhi cà phê bao lâu nhưng bạn tận mắt nhìn kỹ xem hạt cà phê chưa?
                                </a>
                            </li>
                        </ul>

                        <ul class="form-news-sub style row">
                            <li class="col l-6 m-6 c-12 body-news_box">
                                <ul class="form-news-sub-small style row">
                                    <li class="col l-6 m-6 c-12">
                                        <a href="#" class="decoration cl-black body-news_imglink">
                                            <div class="form-news-sub-small_img" style="background-image: url(../assets/img/cafe_natutive.jpg);"></div>
                                        </a>
                                    </li>
                                    <li class="col l-6 m-6 c-12">
                                        <a href="#" class="decoration cl-black form-news-sub-small_littlelink">
                                            Dùng cốc giấy đựng cà phê nóng, thứ bạn uống đầy ắp những thứ đáng sợ này
                                        </a>
                                        <p class="body-news_desc">Đối với nhiều người, một ngày mới chỉ có thể khởi đầu tốt đẹp ...</p>
                                    </li>
                                </ul>
                            </li>
                            <li class="col l-6 m-6 c-12 body-news_box">
                                <ul class="form-news-sub-small style row">
                                    <li class="col l-6 m-6 c-12">
                                        <a href="#" class="decoration cl-black body-news_imglink">
                                            <div class="form-news-sub-small_img" style="background-image: url(../assets/img/cafe_natutive.jpg);"></div>
                                        </a>
                                    </li>
                                    <li class="col l-6 m-6 c-12">
                                        <a href="#" class="decoration cl-black form-news-sub-small_littlelink">
                                            Uống cafe có mất ngủ không?
                                        </a>
                                        <p class="body-news_desc">Uống cafe có mất ngủ không? Đây có lẽ là câu hỏi kinh điển, nhấ...</p>
                                    </li>
                                </ul>
                            </li>
                            <li class="col l-6 m-6 c-12 body-news_box">
                                <ul class="form-news-sub-small style row">
                                    <li class="col l-6 m-6 c-12">
                                        <a href="#" class="decoration cl-black body-news_imglink">
                                            <div class="form-news-sub-small_img" style="background-image: url(../assets/img/cafe_natutive.jpg);"></div>
                                        </a>
                                    </li>
                                    <li class="col l-6 m-6 c-12">
                                        <a href="#" class="decoration cl-black form-news-sub-small_littlelink">
                                            Cà phê hay thể dục: Lựa chọn nào giúp đánh bại cơn buồn ngủ tốt hơn?
                                        </a>
                                        <p class="body-news_desc">Có hai trường phái để đánh bại những cơn buồn ngủ vào sáng sớm...</p>
                                    </li>
                                </ul>
                            </li>
                            <li class="col l-6 m-6 c-12 body-news_box">
                                <ul class="form-news-sub-small style row">
                                    <li class="col l-6 m-6 c-12">
                                        <a href="#" class="decoration cl-black body-news_imglink">
                                            <div class="form-news-sub-small_img" style="background-image: url(../assets/img/cafe_natutive.jpg);"></div>
                                        </a>
                                    </li>
                                    <li class="col l-6 m-6 c-12">
                                        <a href="#" class="decoration cl-black form-news-sub-small_littlelink">
                                            Bạn đã bao giờ thắc mắc tên gọi chính xác của cà phê bắt nguồn từ đâu chưa?
                                        </a>
                                        <p class="body-news_desc">Nói về cà phê thì người dân Việt Nam lẫn trên thế giới đều khô...</p>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="col l-3 form-news-category">
                        <div class="form-news-category_box">
                            <h3 class="form-news-category_header">
                                Dang mục sản phẩm
                            </h3>
                            <ul class="form-news-category_list style">
                                <li class="form-news-category_item">
                                    <a href="#" class="decoration form-news-category_link">
                                        <i class="form-news-category_icon fa-solid fa-chevron-right"></i>
                                        Trang chủ
                                    </a>
                                </li>
                                <li class="form-news-category_item">
                                    <a href="#" class="decoration form-news-category_link">
                                        <i class="form-news-category_icon fa-solid fa-chevron-right"></i>
                                        Giới thiệu
                                    </a>
                                </li>
                                <li class="form-news-category_item">
                                    <a href="#" class="decoration form-news-category_link">
                                        <i class="form-news-category_icon fa-solid fa-chevron-right"></i>
                                        Sản phẩm
                                    </a>
                                </li>
                                <li class="form-news-category_item">
                                    <a href="#" class="decoration form-news-category_link">
                                        <i class="form-news-category_icon fa-solid fa-chevron-right"></i>
                                        Tin tức
                                    </a>
                                </li>
                                <li class="form-news-category_item">
                                    <a href="#" class="decoration form-news-category_link">
                                        <i class="form-news-category_icon fa-solid fa-chevron-right"></i>
                                        Thực đơn
                                    </a>
                                </li>
                                <li class="form-news-category_item">
                                    <a href="#" class="decoration form-news-category_link">
                                        <i class="form-news-category_icon fa-solid fa-chevron-right"></i>
                                        Liên hệ
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="form-news-category_box">
                            <h3 class="form-news-category_header">
                                Về chúng tôi
                            </h3>
                            <div class="form-news-category_frame">
                                <div class="form-news-category_boximg">
                                    <div class="form-news-category_img" style="background-image: url(../assets/img/cafe_first.jpg);"></div>
                                </div>
                                <p class="form-news-category_desc">Cafe berdama được sinh ra từ niềm đam mê bất tận với hạt cafe Việt Nam. Chúng tôi đã không ngừng mang đến những sản phẩm cafe thơm ngon, sánh đượm trong không gian thoải mái và lịch sự với mức giá hợp lý.</p>
                            </div>
                            <button class="form-news-category_btn cl-white">
                                Đọc tiếp
                            </button>
                        </div>
                        <div class="form-news-category_box">
                            <h3 class="form-news-category_header">
                                Về chúng tôi
                            </h3>
                            <ul class="form-news-category_list style row">
                                <li class="col l-4 m-6 c-12 form-news-category_item">
                                    <div class="form-news-category_listimg" style="background-image: url(../assets/img/10-quan-ca-phe-moi-o-sai-gon-de-song-ao-85.webp);"></div>
                                </li>
                                <li class="col l-4 m-6 c-12 form-news-category_item">
                                    <div class="form-news-category_listimg" style="background-image: url(../assets/img/10-quan-ca-phe-moi-o-sai-gon-de-song-ao-85.webp);"></div>
                                </li>
                                <li class="col l-4 m-6 c-12 form-news-category_item">
                                    <div class="form-news-category_listimg" style="background-image: url(../assets/img/10-quan-ca-phe-moi-o-sai-gon-de-song-ao-85.webp);"></div>
                                </li>

                                <li class="col l-4 m-6 c-12 form-news-category_item">
                                    <div class="form-news-category_listimg" style="background-image: url(../assets/img/10-quan-ca-phe-moi-o-sai-gon-de-song-ao-85.webp);"></div>
                                </li>
                                <li class="col l-4 m-6 c-12 form-news-category_item">
                                    <div class="form-news-category_listimg" style="background-image: url(../assets/img/10-quan-ca-phe-moi-o-sai-gon-de-song-ao-85.webp);"></div>
                                </li>
                                <li class="col l-4 m-6 c-12 form-news-category_item">
                                    <div class="form-news-category_listimg" style="background-image: url(../assets/img/10-quan-ca-phe-moi-o-sai-gon-de-song-ao-85.webp);"></div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer">
            <div class="bg_footer" style="background-image: url(../assets/img/bg_footer.webp);">
                <footer>
                    <div class="grid wide">
                        <div class="footer-box">
                            <ul class="row footer-box_list style">
                                <li class="col l-4 m-12 footer-box_item style">
                                    <a href="#" class="footer-box_link">
                                        <img class="footer-logo" src="../assets/img/87f2699ec5f8deaf13aed5fbe0bebd0ea1ca1a87.webp" alt="">
                                    </a>
                                    <p class="footer-box_desc">
                                        Chúng tôi mong muốn cafe Bermada sẽ trở thành “Tiệm cafe", nơi mọi người xích lại gần nhau và tìm thấy niềm vui, sự sẻ chia thân tình bên những tách cà phê đượm hương, chất lượng.
                                    </p>
                                    <ul class="footer-subbox_list style">
                                        <li class="footer-subbox_item">
                                            <a href="#" class="decoration">
                                                <i class="footer-subbox_icon fa-brands fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="footer-subbox_item">
                                            <a href="#" class="decoration">
                                                <i class="footer-subbox_icon fa-brands fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li class="footer-subbox_item">
                                            <a href="#" class="decoration">
                                                <i class="footer-subbox_icon fa-brands fa-pinterest"></i>
                                            </a>
                                        </li>
                                        <li class="footer-subbox_item">
                                            <a href="#" class="decoration">
                                                <i class="footer-subbox_icon fa-brands fa-google"></i>
                                            </a>
                                        </li>
                                        <li class="footer-subbox_item">
                                            <a href="#" class="decoration">
                                                <i class="footer-subbox_icon fa-brands fa-youtube"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="col l-4 m-12 footer-box_item style">
                                    <h3 class="footer-box_header">
                                        LIÊN HỆ VỚI CHÚNG TÔI
                                    </h3>
                                    <ul class="footer-subbox_contacts style">
                                        <li class="footer-subbox_contact">
                                            <i class="footer-subbox_icon-contact fa-sharp fa-solid fa-location-dot"></i>
                                            <p class="footer-box_desc ml-2">
                                                Đừng bỏ lỡ những sản phẩm và chương trình khuyến mãi hấp dẫn
                                            </p>
                                        </li>
                                        <li class="footer-subbox_contact">
                                            <i class="footer-subbox_icon-contact fa-solid fa-phone"></i>
                                            <div class="footer-subbox_formcontact">
                                                <p class="footer-box_phone ml-2">
                                                    Hotline đặt bàn: 1900 6750
                                                </p>
                                                <p class="footer-box_phone ml-2">
                                                    Hotline giao hàng: 1900 6750
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="col l-4 m-12 footer-box_item style">
                                    <h3 class="footer-box_header">
                                        ĐĂNG KÝ NHẬN KHUYẾN MÃI
                                    </h3>
                                    <p class="footer-box_desc">
                                        Đừng bỏ lỡ những sản phẩm và chương trình khuyến mãi hấp dẫn
                                    </p>
                                    <div class="footer-box_form style">
                                        <input class="footer-box_input" type="text" placeholder="Email của bạn">
                                        <a href="#" class="decoration cl-white footer-box_btn">
                                            Đăng ký
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

    </div>

</body>
</html>